/* *{
    margin: 0;
    padding: 0;
}
.navbar{
    background: rgb(161, 181, 179);
}
form{
    background: red;
    outline: none;
    border-radius: 25px;
    border: none;
    text-align: center; 
}
.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    max-width: 500px;
    color: aqua;
}
.navbar-nav{
    gap: 50px;
}
.navbar ul li{
    text-align: center;
}
 */
